{{!-- <ul>
  {{#each exercise}}
    <li>
      <p>Exercise: {{exercise}}</p>
      <p>Calorie per lb: {{calories}}</p>
    </li>
  {{/each}}
</ul> --}}


<h1>Testing</h1>
{{#each exercises}}
<h1>
  {{exercise}}
</h1>
{{/each}}