
.header{
    padding: 30px;
    text-align: center;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  }  

.uk-navbar-nav li a{
    font-size:25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

body {
    background-image: url("../images/Witness-BG.jpg") ;

}

.container {
    position: relative;
    background-color: whitesmoke;
    border-radius: 10px;
    overflow: hidden;
}

#getfit{
    color: white;
}